<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta charset="UTF-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ivan Zuzak" />
   <meta name="description" content="{{ page.description }}" />
   <link href="http://ivanzuzak.info/atom.xml" rel="alternate" title="Ivan Zuzak" type="application/atom+xml" />
   <meta content='initial-scale=1.0' name='viewport' />
   <link rel="license" type="text/html" href="http://creativecommons.org/licenses/by/3.0/" />

   <!-- Google+ badge -->
   <link href="https://plus.google.com/117110094515372104918" rel="publisher" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Ivan Zuzak</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/#about">about</a>
    <a class="extra" href="/#blog">blog</a>
    <a class="extra" href="/#projects">projects</a>
    <a class="extra" href="/#talks">talks & papers</a>
    <a class="extra" href="/#other">other</a>
    <g:plusone size="small"></g:plusone>
    <a class="hidden" href="https://plus.google.com/117110094515372104918?rel=author">Google</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Ivan Zuzak<br />
        izuzak@gmail.com<br />
        <a href="http://ivanzuzak.info/atom.xml">ATOM feed</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/izuzak/">izuzak@GitHub</a><br />
        <a href="http://twitter.com/izuzak/">izuzak@Twitter</a><br />
        <a href="http://hr.linkedin.com/in/izuzak/">izuzak@LinkedIn</a><br />
      </p>
    </div>
    <div class="gplus">
      <g:plusone size="tall"></g:plusone>
    </div>
    <div class="gplus">
      <a href="https://plus.google.com/117110094515372104918?prsrc=3" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-64.png" alt="" style="border:0;width:64px;height:64px;"/></a>
    </div>
  </div>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20321488-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Google Analytics end -->

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

</body>
</html>
